<h2>стрижки для котов</h2>
<div class="fbcont">
  <img src="/zapret.jpg" class="fbimg" alt="желательно не стричь" />
  <div class="fbtxt">
    Шерстяной покров помогает животным регулировать температуру тела, защищает
    кожу от внешних воздействий, не дает телу перегреваться. Стрижка может
    нарушить нормальную терморегуляцию — есть риск переохлаждения или перегрева.
    Стрижка — это стресс для животного. Стрессовые ситуации негативно отражаются
    на состоянии здоровья питомца и снижают защитные силы организма.
    Злоупотребление стрижками может спровоцировать истончение шерсти и привести
    к образованию колтунов. В результате таких процедур страдает и подшерсток —
    из-за механических повреждений меняется его структура. Шубка питомца
    частостановится тусклой и излишне ломкой. Слишком частый груминг кошки
    способен вызвать проблемы с кожей — появление зуда, сухости и других
    проблем.
  </div>
</div>
@for (cs of cstr ; track cs){
<div class="cstrcont">
  <p>{{cs.name}}</p>
  <img src="{{cs.str}}" class="catstr" alt="{{cs.alt}}" />
</div>
}
