<h2>анекдоты про котов</h2>

<div>
  <button class="pb" (click)="pb()">
    <img src="poisk.webp" class="poiskImg" />
  </button>

  @if(poiskBut){

  <span class="poisk">
    поиск
    <input type="text" [(ngModel)]="filtrText" />

    @if(!!curTag){ выбран тег :<span class="tag">{{curTag}}</span>
    <button (click)="ubrTag()">убрать тег</button>
    }
  </span>

  }
</div>

<br />
<br />
@for (an of (ca | anecfiltr : filtrText | tagfiltr : curTag); track an){
<div class="text">
  @for (t of an.tags ; track t){
  <span
    class="tag"
    id="tag"
    (click)="tagClick($event)"
    (keypress)="tagKeyPress($event)"
    tabindex="1"
    >{{t}}</span
  >
  }
  <h2 class="zagol">{{an.anecName}}</h2>
  <p>{{an.text}}</p>
  <button (click)="setLike('1','like')"><img /></button>
  <button (click)="setLike('1','disLike')"><img /></button>
</div>
}
